@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'BYekan';
  src: url('/BYekan/BYekan+.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BYekan';
  src: url('/BYekan/BYekan+ Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  direction: rtl;
  text-align: right;
  background: var(--background);
  color: var(--foreground);
  font-family: 'BYekan', Arial, Helvetica, sans-serif;
}
